<server>
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>jaxrs-2.1</feature>
        <feature>jms-2.0</feature>
        <feature>jndi-1.0</feature>
        <feature>openapi-3.1</feature>
        <!-- https://github.com/OpenLiberty/open-liberty/issues/6120 -->
        <feature>cdi-2.0</feature>
    </featureManager>

    <httpEndpoint httpPort="${SERVER_HTTP_PORT}" httpsPort="${SERVER_HTTPS_PORT}" host="${SERVER_VHOST}"/>
    <webApplication id="customer-producer" contextRoot="/customer-producer" location="customer-producer.war"/>

    <!-- Active MQ -->
    <resourceAdapter id="activemq" location="${shared.resource.dir}/activemq-rar-${AMQ_VERSION}.rar" >
        <properties.activemq serverUrl="tcp://${AMQ_HOST}:${AMQ_PORT}" userName="${AMQ_USER}" password="${AMQ_PASSWORD}"/>
    </resourceAdapter>

    <jmsQueueConnectionFactory jndiName="jms/QueueConnectionFactory">
        <properties.activemq serverUrl="tcp://${AMQ_HOST}:${AMQ_PORT}"/>
    </jmsQueueConnectionFactory>

    <jmsQueue id="customer-javaee-queue" jndiName="jms/CustomerQueue">
        <properties.activemq PhysicalName="customer-javaee-queue"/>
    </jmsQueue>

    <jmsTopicConnectionFactory jndiName="jms/TopicConnectionFactory">
        <properties.activemq serverUrl="tcp://${AMQ_HOST}:${AMQ_PORT}"/>
    </jmsTopicConnectionFactory>

    <jmsTopic id="products-topic" jndiName="jms/ProductsTopic">
        <properties.activemq PhysicalName="products-topic"/>
    </jmsTopic>

</server>